# Default ignored files
/Projekt/shelf/
/Projekt/workspace.xml

/Projekt/.idea/
/Projekt/misc.xml


/Projekt/models/cnn_model_rgb_signs/
/Projekt/models/cnn_model_grayscale/
/Projekt/models/cnn_model_shapes_grayscale/
/Projekt/models/cnn_model_signs_grayscale/
